{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Akıllı Chat Uygulaması!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'chat.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% csrf_token %}
                <div class="messages"></div>
                <div class="input-group">
                    <input type="text" class="form-control" id="question" placeholder="Sorunuzu girin?">
                    <input type="text" class="form-control" id="ask" placeholder="Cevabınızı girin">
                    <button type="button" class="form-control" onclick="sendMessage()">Gönder</button>
                    
                    
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
</body>
</html>